body {
    margin: 0px;
    background: #F9FAFF;
}

.web-services {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.web-servisic-titel {
    width: 100%;
    text-align: center;
}

.web-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    width: 235px;
    height: 204px;
    border: 1px solid;
}
.web-service-caunter2{
    font-size: 24px;
}
.web-service-text2{
    font-size: 16px;
}
.web-services2 {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
}
.web-service2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 356px;
    height: 302px;
    border-radius: 23px;
    background-color: #FFFFFF;
    text-align: center;
}

.web-servisic-titel2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.important0{
    width: 102px;
    height: 102px;
    background-color: #FF7A50D4;
border-radius: 50px 50px 50px 50px;
}
.iri0{
    margin-top: 23px;
    margin-left: 27px;
}
.important11 {
    width: 102px;
    height: 102px;
    background-color:white;
border-radius: 50px 50px 50px 50px;
}
.iri11 {
    margin-top: 23px;
    margin-left: 27px;
}
.important22 {
    width: 102px;
    height: 102px;
    background-color:white;
border-radius: 50px 50px 50px 50px;
}
.iri22 {
    margin-top: 23px;
    margin-left: 27px;
}
.img33{
    display: flex;
    justify-content: center;
    gap: 270px;
    margin-top: -350px;
}